tr.mat-row:hover {
	background-color: #ffcdd2;
}

.container {
	width: 80%;
}

mat-table {
	padding: 1em 0 2em 0;
	width: 100%;
}

i {
	cursor: pointer;
}

.highlight {
	background: #eeeeee;
}

.mat-table .mat-header-cell,
.mat-table .mat-cell {
	padding-right: 4em;
}

.highlighted-row {
	background-color: #eeeeee;
}

input.ng-valid,
textarea.ng-valid {
	border-color: #9e9e9e;
	box-shadow: 1px 1px #757575;
}
